.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.balContainer {
  display: grid;
  grid-gap: 1.5rem;
  width: 30%;
}

.viewBalContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 0 1.5rem;
}
